{% extends "emails/base.html" %}
{% block content %}
<h2>Здравствуйте, {{ user_name }}!</h2>
<p>Вы запросили изменение адреса электронной почты в {{ app_name }}. Пожалуйста, введите следующий код подтверждения в приложении для подтверждения нового адреса электронной почты:</p>

<div class="verification-code">{{ verification_code }}</div>

<p>Этот код будет действителен в течение {{ verification_code_expire_minutes }} минут.</p>

<p>Если вы не запрашивали изменение адреса электронной почты, пожалуйста, проигнорируйте это письмо и немедленно измените пароль в вашей учетной записи.</p>

<p>С уважением,<br>
Команда {{ app_name }}</p>
{% endblock %}
