{% extends "emails/base.html" %}
{% block content %}
<h2>Здравствуйте, {{ user_name }}!</h2>
<p>У нас отличные новости! Мы нашли возможное совпадение для вашего питомца <span class="highlight">{{ pet_name }}</span>!</p>

<p>Наша система сравнила фотографии и определила совпадение с вероятностью <span class="highlight">{{ similarity }}%</span>.</p>

<p style="text-align: center;">
    <a href="{{ match_url }}" class="button">Посмотреть совпадение</a>
</p>

<p>Чтобы увидеть подробную информацию и связаться с человеком, который нашел вашего питомца, пожалуйста, нажмите на кнопку выше или откройте приложение {{ app_name }}.</p>

<p>Мы надеемся, что это поможет вам найти вашего питомца!</p>

<p>С уважением,<br>
Команда {{ app_name }}</p>
{% endblock %}
