{% extends "emails/base.html" %}
{% block content %}
<h2>Здравствуйте, {{ user_name }}!</h2>
<p>Вы запросили сброс пароля для вашей учетной записи в {{ app_name }}. Пожалуйста, нажмите на кнопку ниже, чтобы сбросить ваш пароль:</p>

<p style="text-align: center;">
    <a href="{{ reset_url }}" class="button">Сбросить пароль</a>
</p>

<p>Или скопируйте и вставьте следующую ссылку в ваш браузер:</p>
<p style="word-break: break-all;">{{ reset_url }}</p>

<p>Ссылка будет действительна в течение {{ reset_token_expire_minutes }} минут.</p>

<p>Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это письмо.</p>

<p>С уважением,<br>
Команда {{ app_name }}</p>
{% endblock %}
