{% extends "emails/base.html" %}
{% block content %}
<h2>Здравствуйте, {{ user_name }}!</h2>
<p>Мы получили информацию о том, что ваш питомец <span class="highlight">{{ pet_name }}</span> пропал. Мы очень сожалеем об этом и хотим заверить вас, что мы сделаем все возможное, чтобы помочь вам найти его.</p>

<div class="pet-info">
    <h3>Информация о пропаже:</h3>
    <p><strong>Имя питомца:</strong> {{ pet_name }}</p>
    <p><strong>Дата пропажи:</strong> {{ lost_date }}</p>
    <p><strong>Место пропажи:</strong> {{ lost_location }}</p>
</div>

<p>Наша система уже начала анализировать базу данных найденных животных и будет автоматически сравнивать их с вашим питомцем.</p>

<p>Вы получите уведомление, как только мы найдем потенциальное совпадение. Также вы можете самостоятельно просматривать базу данных найденных животных в приложении.</p>

<p>Мы желаем вам скорейшего воссоединения с вашим питомцем!</p>

<p>С уважением,<br>
Команда {{ app_name }}</p>
{% endblock %}
