{% extends "emails/base.html" %}
{% block content %}
<h2>Здравствуйте, {{ user_name }}!</h2>
<p>Спасибо за регистрацию в {{ app_name }}. Пожалуйста, подтвердите ваш адрес электронной почты, введя следующий код подтверждения в приложении:</p>

<div class="verification-code">{{ verification_code }}</div>

<p>Этот код будет действителен в течение {{ verification_code_expire_minutes }} минут.</p>

<p>Если вы не запрашивали данный код, пожалуйста, проигнорируйте это письмо.</p>

<p>С уважением,<br>
Команда {{ app_name }}</p>
{% endblock %}
